<!DOCTYPE html>
<html ng-app="AllansCider">
  <head>
    <script src="/scripts/angular/angular.min.js"></script>
    <script src="/scripts/angular-route/angular-route.min.js"></script>
    <script src="/scripts/angular-resource/angular-resource.min.js"></script>
    <script src="/scripts/angular-aria/angular-aria.min.js"></script>
    <script src="/scripts/angular-animate/angular-animate.min.js"></script>
    <script src="/scripts/angular-material/angular-material.min.js"></script>
    <link rel="stylesheet" href="/scripts/angular-material/angular-material.min.css">
    <script src="/scripts/angular-material-icons/angular-material-icons.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/controllers/app.js"></script>
    <script src="javascripts/controllers/HomeController.js"></script>
    <script src="javascripts/controllers/HeaderController.js"></script>
    <script src="javascripts/controllers/CiderController.js"></script>

  </head>
  <body ng-app="AllansCider" ng-controller="HeaderController" style="padding: 0; margin: 0;">
  <md-toolbar style="background-image: url('/images/apple2.jpg'); height: 40%;" layout="column" layout-align="center center">
    <div style="position: absolute; top: 30px; right: 50px; width: 100%;" layout="row" layout-align="end">
      <md-button style="color: white;" ng-click="reRoute('home')">
        Home
      </md-button>
      <md-button style="color:white;" ng-click="reRoute('cider')">
        Our Cider
      </md-button>
    </div>
    <h1 style="color: white;">Allan's Cider</h1>
  </md-toolbar>
  <div ng-view></div>
  </body>
</html>
