<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = './javascripts/controllers/index.js'></script>

    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link rel='stylesheet' href='/stylesheets/black-theme.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        var shiftWindow = function() { scrollBy(0, -40) };
        window.addEventListener("hashchange", shiftWindow);
        function load() { if (window.location.hash) shiftWindow(); }
    </script>
    <title>Allan's Cider</title>

</head>

<body style="padding: 0; margin: 0;" onload="load()">

<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Allan's Cider</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#story">Our Story</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" >The Cider</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Image Header -->
<div class="container-fluid" style="padding: 0 0 0 0;">
    <img src="/images/apple.jpg" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
</div>

<div class="container-fluid" id="about">
    <div class="container">
        <h2>ABOUT US</h2>
        <p>An artisan, traditional cider maker based in Cornwall using local hand-picked apples. </p>

        <p>Since 2012 our orchard has grown with the addition of historic apple and pear trees, such as Collogget Pippin,
            bringing rare local varieties back to the area. </p>

        <p>Our philosophy is to produce small batches of traditionally handmade Cornish cider, with a ‘proper’ bold cider
            taste with a full body you will remember. </p>

        <p>Our belief is that cider should be produced with high quality local fruit and time taken to allow the juice to
            slow ferment over the winter and spring for at least 6 months before bottling. The only addition is a small
            amount of sulphite for freshness before the golden liquid is able to condition in its own bottle for a further
            month.</p>

        <p>We continue to make our cider from the old farm house that can trace its history back to the 17th century when
            the local farmer gave cider to the workers as part-payment of their wages</p>
    </div>
</div>


<!-- Work Row -->
<div class="container-fluid bg-secondary" id="story">
    <div class="container">
        <h2>OUR STORY</h2>
        <p>Allan’s Cider has been making cider for over 5 years, initially to use the apples dropping in our small orchard.
            There was only so many apple pies, crumbles, pickles and juice we could consume.</p>

        <p>In 2012 we bought a small hand press and bucket scratter and made the first 5 gallons of cider with guidance
            from a couple of locals and well known authors. A few months later our first efforts yielded a very dry clear
            golden cider which was nothing like the memories of the scrumpy of our youth.</p>

        <p>Over the next five years we expanded our production with the addition of a ‘proper’ press and made the
            orchard more varied with the addition of some solid old fashioned varieties such as Pig Snout, Browns and
            our local Colloggett Pippin.</p>

        <p>Our cider is refreshing and dry with a unique taste which changes with the seasons as the apples change from
            year to year. </p>

        <p>We are happy to collect apples that would otherwise go to waste and we never turn away a good apple. In the
            old country tradition of bartering we will swap some of our bottle conditioned cider for the apples we
            collect. If you can deliver to us we will give you more. </p>

        <p style="font-style:italic">   If you are interested in becoming a stockist please contact us.    </p>
    </div>
</div>


 <!--Contact Container-->
<div class="container">
    <div class="w3-row">
        <div class="w3-col m5">
            <h2>CONTACT US</h2>
        </div>
        <div>
            <p>If you wish to contact us please write your message below and fill in your details should you like us to
                contact you back.</p>
        </div>
        <div class="w3-col m7">
            <div>
                <label>Name</label>
                <div class="w3-section">
                    <input class="nameInput" type="text" required>
                </div>
                <label style="vertical-align: middle;">Message</label>
                <div class="w3-section">
                    <textarea class="messageInput" rows="2" cols="30" required></textarea>
                </div>
                <label>Contact Number</label>
                <div class="w3-section">
                    <input class="phoneInput" type="number">
                </div>
                <label>Email Address</label>
                <div class="w3-section">
                    <input class="emailInput" type="email">
                </div>
                <button id="email" onclick="sendContact()">Send</button>
            </div>
        </div>
    </div>
</div>

<!--<div class="container-fluid">-->
    <!--<div class="row">-->
        <!--<div class="col-md-5">-->
            <!--<h2>CONTACT US</h2>-->
        <!--</div>-->
        <!--<div class="col-md-7">-->
            <!--<div>-->
                <!--<label>Name</label>-->
                <!--<input class="nameInput" type="text" required>-->
            <!--</div>-->
            <!--<div>-->
                <!--<label>Message</label>-->
                <!--<input class="messageInput" type="text" required>-->
            <!--</div>-->
            <!--<button id="email" onclick="sendContact()">Send</button>-->
        <!--</div>-->
    <!--</div>-->

    <!--<script type="javascript">-->

    <!--</script>-->

<!--</div>-->



<nav class="navbar navbar-expand navbar-dark bg-dark">
    <span class="navbar-brand" >Follow Us</span>
    <a class="nav-item nav-link" href="https://www.facebook.com/allanscider/" title="Facebook"><i class="fa fa-facebook" style="color: #039b12;"></i></a>
    <a class="nav-item nav-link" href="https://twitter.com/allanscider" title="Twitter"><i class="fa fa-twitter" style="color: #039b12;"></i></a>
    <a class="nav-item nav-link" href="https://www.instagram.com/allanscider/" title="Instagram"><i class="fa fa-instagram" style="color: #039b12;"></i></a>

</nav>

</body>
</html>
