<div ng-app="AllansCider">
    <md-content>
        <div layout="column" layout-align="center center">
            <div style="padding:20px; width:50%;">
                <h1 style="text-align: center;">About Us</h1>
                <h3 style="font-weight:bold; text-align: center;">An artisan, traditional cider maker based in Cornwall using local hand-picked apples.</h3>
                <h3 style="text-align: center;">Since 2012 our orchard has grown with the addition of historic apple and pear trees, such as Collogget
                    Pippin, bringing rare local varieties back to the area.
                </h3>
                <h3 style="text-align: center;">Our philosophy is to produce small batches of traditionally handmade Cornish cider, with a ‘proper’
                    bold cider taste with a full body you will remember.
                </h3>
                <h3 style="text-align: center;">We believe that cider should be produced with high quality local fruit and time taken to allow the
                    juice to slow ferment over the winter and spring for at least 6 months before bottling. The only
                    addition is a small amount of sulphite for freshness before the golden liquid is able to condition
                    in its own bottle for a further month.
                </h3>
                <h3 style="text-align: center;">We continue to make our cider from the old farm house that can trace its history back to the 17th
                    century when the local farmer gave cider to the workers as part-payment of their wages
                </h3>
                <br>
            </div>
            <div style="width:100%;">
                <img src="/images/applebin.jpg" width="100%">
            </div>
            <div style="padding:20px; width:50%;" >
                <h1 style="text-align: center;">Our Story</h1>
                <h3 style="font-weight:bold; text-align: center;">Allan’s Cider has been making cider for over 5 years,
                    initially to use the apples dropping in our small orchard. There was only so many apple pies,
                    crumbles, pickles and juice we could consume.
                </h3>
                <h3 style="text-align: center;">In 2012 we bought a small hand press and bucket scratter and made the first 5 gallons of cider with guidance from a couple of locals and well known authors. A few months later our first efforts yielded a very dry clear golden cider which was nothing like the memories of the scrumpy of our youth.
                </h3>
                <h3 style="text-align: center;">Over the next five years we expanded our production with the addition of a ‘proper’ press and made the orchard more varied with the addition of some solid old fashioned varieties such as Pig Snout, Browns and our local Colloggett Pippin.
                </h3>
                <h3 style="text-align: center;">Our cider is refreshing and dry with a unique taste which changes with the seasons as the apples change from year to year.
                </h3>
                <h3 style="text-align: center;">We are happy to collect apples that would otherwise go to waste and we never turn away a good apple. In the old country tradition of bartering we will swap some of our bottle conditioned cider for the apples we collect. If you can deliver to us we will give you more.
                </h3>
                <h3 style="text-align: center; font-style:italic;">If you are interested in becoming a stockist please contact us.</h3>
                <br>
            </div>
        </div>
    </md-content>
</div>