<div ng-app="AllansCider">
    <md-content>
        <div layout="column" layout-align="center center">
            <div style="padding:20px; width:50%;">
                <h1 style="text-align: center;">About Us</h1>
                <h3>about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us </h3>
                <br>
                <h3>about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us </h3>
                <br>
                <h3>about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us </h3>
            </div>
            <div style="width:100%;">
                <img src="/images/applebin.jpg" width="100%">
            </div>
            <div style="padding-left: 100px; padding-right:100px;" >
                <h1 style="text-align: center;">Our Story</h1>
                <h3>about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us </h3>
                <br>
                <h3>about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us
                    about us about us about us about us about us about us about us </h3>
                <br>
            </div>
        </div>
    </md-content>
</div>